p {
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
	color:#293D3D;
	margin-top: 25px;


	text-align: center;
}

img {
	margin: 0 auto;
	display: block;
}

span {
	/*display: inline-block;*/
	text-align: center;
} 

.jumbotron{
	text-align: center;
	background-color: #293D3D;
	color: white;
}

.centerButton{

	/*display:block;
	margin: 0 auto;*/
	text-align: center;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 19px;
	color: #501950;
	
	}